include _functions
- var m = ["spring","summer","autumn","winter"]
.page#lookbooks
  include _nav_bar_light
  .content
    ul#lookbooks-nav
      each item in m
        li
          a(href="javascript:void(0)" data-ref="#{item.toLowerCase()}") #{item.toUpperCase()}
  .gallery-wrapper
    each item in m
      .thumbScroller-container(id="#{item}-thumb-container")
        ul.gallery-entry(id="#{item}-gallery")
          - for (var i =0; i < 20;i++)
            - var _src = "img/lookbooks/images-"+(i%4+1)+".jpg"
            li
              .image-pod
                img.pod-img(src=_src)
                .extra
                  +socialIcon('weibo')
                  +socialIcon('weixin')
  include _page_footer


